h1:first-letter{color:red;}
p:first-line{color:red;}
p::selection{color:magenta;}
h1{list-style-type: none;}
h1:before {content: "\262D"; }

img {
 width: 400px;
height: 200px;
float: right;
margin-left: 15px;
margin-right: 50px;
}


h1 {
margin-left: 50px;
}


p {
margin-left: 50px;
text-align: left;
}

.icons-footer {
width: 1500px;
height: 10px;
display: flex;
justify-content: flex-end;
}


.ico {
display: inline-block;
}


svg {
vertical-align: middle
}


main {
background-color: #EAE4F6;
padding-bottom: 100px;
margin-bottom: 70px;
}


.share {
border: 1px solid lightgray;
padding: 40px 0;
text-align: center;
width: 100%;
}

.share a {
background-color: #0d6efd;
border: 1px solid #0d6efd;
border-radius: 20px;
color: white;
display: inline-block;
margin: 10px;
padding: 14px;
text-decoration: none;
display: inline-block;
margin: 10px;
padding: 14px;
text-decoration: none;

}

.share a:hover {
background-color: #cccccc;
color: #005a5c;
}