<!DOCTYPE html>
<html lang="ru" >
<head>
  <meta charset="UTF-8">
  <title>Ыign in</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">

<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'><link rel="stylesheet" href="../static/css/login2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<form method="POST" action="#">
  <h1>Welcome Back</h1>
  <p>Enter your credentials to continue.</p>
  
  <div class="input-wrapper">
    <input type="text" placeholder="Enter your username" name="username"/>
    <i class="bx bxs-user-circle"></i>
  </div>

  <div class="input-wrapper">
      <input type="password" placeholder="Enter your password" name="password"/>
      <i class="bx bx-key"></i>
  </div>
  
  <div>
    <button type="submit">
      Sign In
      <i class='bx bx-right-arrow-alt'></i>
    </button>
  </div>
</form>
<!-- partial -->
  
</body>
</html>
